*{
    padding:10px;
}
body {
    background:#ffffff;
    font-family:Calibri;
}
#main{
    position:absolute;
    top:210px;
    width:340px;
    left:230px;
}
.intro{
    font-size:18px;
    border-bottom:1px solid #ffd800;
}
