<html>
<head>
    <link type="text/css" rel="stylesheet" href="style/index.css"/>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <section id="main">
    <p class="intro">SmoochBot Demo</p>
    </section>
</body>
</html>
